body{
    
}

.forecast{
    color:#ffffff;
    background-color: #226083;
    min-height:275px;
    width: 125px;
    cursor:pointer;
}

.forecast-sel{
    min-height:275px;
    width: 125px;
    cursor:pointer;
    color:#ffffff;
    background-color: #0f4868;
}

.day-summary{
    color:#ffffff;
    background-color: #0f4868;
}

.summary{
    margin-top:20px;
}

#locationName{
    text-transform:capitalize;
}
